/* ナビ */
nav {
    padding-top: 0px;
    padding-bottom: 10px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-inline-start: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

nav li {
    list-style: none;
    color: rgba(38, 52, 64, 1.0);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
    letter-spacing: -0.01em;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.new {
    position: relative;
    margin-right: 27px;
}

.new::after {
    position: absolute;
    color: rgb(255, 51, 0);
    font-family: 'Plus Jakarta Sans', sans-serif;
    content: "NEW";
    font-size: 10px;
    letter-spacing: -0.02em;
    font-weight: 700;
    margin-top: -3px;
    margin-bottom: 0px;
    margin-left: 3px;
    margin-right: 3px;
}

/* 現在位置 */
.index .nav-home>a,
.pubs .nav-pubs>a,
.contacts .nav-contacts>a {
    font-weight: 700;
}

/* ボタン */
.navbtn1 {
    position: relative;
    width: auto;
    display: inline-block;
    color: rgba(38, 52, 64, 1.0);
    text-decoration: none;
}

.navbtn1:hover {
    cursor: pointer;
    color: rgba(38, 52, 64, 1.0);
    text-decoration: none;
}

.navbtn1::after {
    position: absolute;
    bottom: -0.1em;
    left: 0;
    content: '';
    width: 100%;
    height: 1.7px;
    background: rgba(38, 52, 64, 1.0);
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .2s;
}

.navbtn1:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
}


/* アコーディオン */
.switch {
    display: none;
}

.openclose {
    position: absolute;
    border-top: 1px rgba(228, 233, 235, 1.0) solid;
    background-color: rgba(255, 255, 255, 0.75);
    -webkit-backdrop-filter: saturate(300%) blur(2.8px);
    backdrop-filter: saturate(300%) blur(2.8px);

    /*left: 50%;
    transform: translate(-50%, 0%);*/

    width: 100%;

    color: rgba(19, 172, 228, 1.0);
    color: rgba(38, 52, 64, 1.0);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
    letter-spacing: -0.01em;
    line-height: 280%;
    font-weight: 700;

    margin-top: 0px;
    margin-bottom: -6px;
    padding-top: 0px;
    padding-bottom: 0px;


    text-align: center;
    cursor: pointer;
    display: block;
}

.openclose:hover {
    color: rgb(84, 113, 141);
    background-color: rgba(255, 255, 255, 0.85);
}

.openclose::before {
    content: "Show all";
    /*background-color: rgb(20, 126, 180);
    padding-top: 20px;
    padding-bottom: 20px;*/
}

.switch:checked+.openclose::before {
    content: "Show less";
}

.more {
    display: block;
    list-style-position: inside;
    height: 250px;
    overflow: hidden;
    padding-left: 0px;
    margin-bottom: 0px;
    margin-left: 3%;
    margin-right: 3%;
}


.licontents {
    /* list-style: none; */
    color: rgba(38, 52, 64, 1.0);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 15px;
    letter-spacing: -0.01em;
    line-height: 160%;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;
    /*margin-left: 10em;
    text-indent: -10em;*/
}

.licontents:before {
    content: "";
    padding-right: 10px;
}

.switch:checked~.more {
    height: auto;
    margin-bottom: 40px;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

@media only screen and (min-width:720px) {
    .licontents {
        font-size: 17px;
    }
}